<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Apple Music Playlists -> Spotify </title>
  </head>

  <body>
    <div class="container-fluid">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col">
          <% if !session[:spotify] %>
            <a class="btn btn-secondary" href="/auth/spotify" role="button">Login Spotify</a>
            <!-- <button type="button" class="btn btn-secondary">Login Spotify</button> -->
          <% end %>
        </div>
        <div class="col">
          <% if !session[:spotify] %>
            <span class="badge badge-danger">Not Authetincated</span>
          <% else %>
            <span class="badge badge-success">Authetincated</span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="POST" action="/convert">
                <div class="input-group mb-3">
                    <input type="text" name="playlist_url" class="form-control" placeholder="Apple Playlist URL" aria-label="Apple playlist URL" aria-describedby="btn">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="submit" id="btn">Submit</button>
                    </div>

                </div>
                </form>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <% if @playlist_name %>
          <div class="col"> Playlist <%= @playlist_name %> </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-10">
          <form action="/add_to_playlist" method="POST">
            <input type="hidden" value="<%= @playlist_name ? @playlist_name.strip : "" %>" name="playlist_name" %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Artist</th>
                  <th scope="col">Album</th>
                  <th scope="col">Song Title</th>
                  <th scope="col">30 sec</th>
                  <th scope="col"> <button class="btn btn-light" type="submit" id="btn">Add!</button> </th>
                </tr>
              </thead>
              <tbody>
                <% if @songs %>
                  <% @songs.each do |song| %>
                        <tr>
                          <td>
                            <input type="checkbox" name="selected_songs[<%= song['song'] %>]" value="<%= song['song'].id %>"
                            <% if song['parsed-album'].downcase.strip == song['song'].album.name.downcase.strip%> checked <% end %> >
                            <%= song['song'].artists.map { |s| s.name }.join(", ") %>
                          </td>
                          <td> <%= song['song'].album.name%> </td>
                          <td> <%= song['song'].name %> </td>
                          <td> <audio controls> <source src="<%= song['preview-url'] %>" type="audio/mpeg"> </audio></td>
                        </tr>

                  <% end %>
                <% end %>
              </tbody>
            </table>
            </form>
        </div>
      </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
